body {
    background: #ffcc99;
}

#boxPile, #boxSlots {
    margin: 0 5%;
}

[id^="word"] {
    display: inline-block;
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 7px;
    margin: 5px;
    text-align: center;
    /*padding: 20px;
    margin: 5px;
    height: 10%; */
}

[id^="slot"] {
    display: inline-block;
    border-radius: 15px 50px;
    background: #ffffff;
    padding: 20px;
    height: 10%; 
}